body {
    width: 100%;
    font-family: Comic_Sans_MS;
    src: url(./assets/fonts/Comic_Sans_MS.ttf);
    
}

@font-face {
    font-family: Comic_Sans_MS;
    src: url(./assets/fonts/Comic_Sans_MS.ttf);
}

h1 {
    font-size: 35px;
    margin-left: 50px;
}

.h1_in {
    color: orange;
    font-style: italic;
}

header {
    display: flex;
    margin-bottom: 70px;
}

.username_button {
    border: none;
    outline: none;
    background-color: white;
    font-size: 25px;
    margin-left: 1100px;
}

.username_button:hover {
    opacity: 0.5;
}

.middle_section {
    display: flex;
}

.navigation {
    background-color: rgba(0, 0, 0, 0.637);
    width: 225px;
}

.navigation_button {
    color: orange;
    width: 225px;
    text-align: left;
    font-size: 17px;
    padding: 25px 15px 25px 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid gray;
    background: transparent;
    height: 79px;
}

.navigation_button:hover {
    background-color: rgba(0, 0, 0, 0.596);
}

.value_section {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    width: 100%;
    height: 800px;
}

#exit_button {
    border-bottom: none;
}

.review_paragraph {
    border-bottom: 1px solid gray;
    font-size: 25px;
    padding-left: 550px;
    height: 52.4px;
}



.review_summary {
    display: flex;
    justify-content: space-between;
}

.amount_of {
    color: orange;
}

.summary {
    border: 1px solid gray;
    font-size: 20px;
    padding: 20px;
    margin-top: 28px;
    margin-left: 28px;
    margin-right: 50px;
}

.summary_companies_h {
    color: orange;
    padding-left: 120px;
}

.summary_faces_h {
    color: orange;
    padding-left: 50px;
}

.summary_sales_h {
    color: orange;
    padding-left: 120px;
}

.companies {
    display: none;
}

#rollup_button {
    margin-top: 110px;
    height: 50px;
    padding: 10px;
    margin-top: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    left: 8px;
}

.new_company_button {
    background-color: gray;
    color: orange;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 50px;
}

.new_company_button:hover {
    background-color: black;
}

.company_table_header {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    font-size: 20px;
}

.company_table_string {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    display: none;
}

.company_window {
    display: none;
    position: fixed;
    top: 80px;
    left: 500px;
    width: 500px;
    height: 600px;
    background-color: orange;
    font-size: 20px;
    border-radius: 10px;
}

.new_company_paragraph {
    border-bottom: 1px solid rgba(180, 174, 174, 0.925);
    padding-left: 150px;
    
    display: flex;
    font-size: 21px;
}

.close_window {
    outline: none;
    border: none;
    background-color: orange;
}

#sales_paragraph {
    padding-left: 165px;
}

#close_company_window {
    padding-left: 110px;
    margin-top: 0px;
    padding-top: 0px;
}

#close_face_window {
    padding-left: 70px;
    margin-top: 0px;
    padding-top: 0px;
}

#close_sale_window {
    padding-left: 120px;
}

#close_help_window {
    padding-left: 170px;
}

#help_paragraph {
    padding-left: 40px;
}

.close_window:hover {
    opacity: 0.5;
}

.new_company_input {
    border: 1px solid gray;
    outline: none;
    font-size: 20px;
    border-radius: 15px;
    height: 30px;
    width: 250px;
    margin: 40px 0px 0px 130px;
}

#save_new_company_button {
    margin: 70px 0px 0px 190px;
}

#save_new_sale_button {
    margin: 70px 0px 0px 190px;
}

#save_new_face_button {
    margin: 70px 0px 0px 190px;
}

.company_item {
    width: 200px;
    margin-right: 50px;
    overflow: hidden;
}

.company_item_phone {
    width: 160px;
    margin-right: 50px;
    overflow: hidden;
}

.company_item_address {
    width: 200px;
    margin-right: 50px;
    overflow: hidden;
}

.company_item_location {
    width: 190px;
    margin-right: 50px;
    overflow: hidden;
}

.faces {
    display: none;
}

.sales {
    display: none;
}

.settings {
    display: none;
}

.help_window {
    display: none;
}

.help {
    display: block;
}

.new_help_textarea {
    border: 1px solid gray;
    outline: none;
    font-size: 20px;
    border-radius: 15px;
    height: 280px;
    width: 380px;
    margin: 40px 0px 0px 60px;
}

#save_help_button {
    margin-left: 190px;
}

.profile_paragraph {
    font-size: 30px;
    margin-left: 550px;
    margin-top: 50px;
    font-style: italic;
}

.flex {
    display: flex;
}

.settings_paragraph_mail {
    margin: 20px 0px 0px 275px;
    font-size: 25px;
}

.settings_paragraph_name {
    margin: 20px 0px 0px 450px;
    font-size: 25px;
}

.settings_paragraph_surname {
    margin: 20px 0px 0px 393px;
    font-size: 25px;
}

.settings_paragraph_password {
    margin: 20px 0px 0px 349px;
    font-size: 25px;
}

.settings_paragraph_password_old {
    margin: 20px 0px 0px 340px;
    font-size: 25px;
}

.settings_input {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
    outline: none;
    border: 1px solid blue;
}

#save_account_changes {
    margin: 50px 0px 0px 505px;
}

#save_password_changes {
    margin: 50px 0px 0px 505px;
}
#faces_paragraph{
    padding-left:130px;
}